* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background: #000 url('../img/bg.jpg') center top/cover no-repeat fixed;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

.wrap {
    max-width: 1200px;
    margin: 1em auto;
    padding: 0 1em;
}

a {
    color: #17b;
    text-decoration: underline;
    transition: text-shadow .3s ease-in-out;
}

a:visited {
    color: #447099;
}

a:hover {
    text-shadow: 0 0 2px rgba(17, 119, 187, .167);
}

p {
    margin: 0 0 1em;
}

ul,
ol {
    margin: 0 0 1em;
    padding-left: 2em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: upper-roman;
}

ul > li,
ol > li {
    margin-bottom: .5em;
}

ul > li:last-child,
ol > li:last-child {
    margin-bottom: 0;
}

dl {
    margin: 0 0 1em;
    display: flex;
    flex-wrap: wrap;
}

dt {
    margin: 0;
    font-weight: 600;
    text-align: right;
    flex: 0 0 175px;
}

dl.dl-small dt {
    flex-basis: 125px;
}

dd {
    margin: 0 0 0 1em;
    flex: 0 0 calc(100% - 175px - 1em);
}

dl.dl-small dd {
    flex-basis: calc(100% - 125px - 1em);
}

blockquote {
    margin: 0 2em 1em;
}

img {
    max-width: 100%;
    border-radius: 3px;
    vertical-align: bottom;
}

h1 {
    margin: -.5rem 0 .5em;
    font-family: Iceland, sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
    text-overflow: ellipsis;
    overflow: hidden;
}

h1::after {
    content: "";
    margin-top: -.15em;
    margin-bottom: .15em;
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .15);
    display: block;
}

h2 {
    margin: .75em 0 .5em;
    font-family: Iceland, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
}

h2::after {
    content: "";
    margin-top: -.15em;
    margin-bottom: .15em;
    border-bottom: 1px dashed;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .15);
    display: block;
}

h3 {
    margin: .75em 0 .5em;
    font-family: Iceland, sans-serif;
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
}

h4 {
    margin: 1em 0 .5em;
    font-size: 1.375em;
    font-weight: 600;
}

h5 {
    margin: 1em 0 .5em;
    font-size: 1.25em;
    font-weight: 600;
}

h6 {
    margin: 1em 0 .5em;
    font-size: 1.125em;
    font-weight: 600;
}

hr {
    height: 0;
    margin-top: 0;
    margin-bottom: 1em;
    border: none;
    border-top: 1px dotted;
    border-top-color: #aaa;
    border-top-color: rgba(0, 0, 0, .25);
}

input,
button,
select,
textarea {
    color: #025;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    display: block;
    resize: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    margin: 0;
    padding: 0;
    border: none;
}

input[type=button],
input[type=submit],
input[type=reset],
button,
a.btn {
    margin-right: .5em;
    margin-bottom: .5em;
    padding: .75em 1em;
    color: #fff;
    background-color: #025;
    border: none;
    border-radius: 3px;
    line-height: 1;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: text-shadow .3s ease-in-out;
}

.btn.btn-2 {
    background-color: #447099;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
a.btn:hover {
    text-shadow: 0 0 2px rgba(255, 255, 255, .45);
}

input[type=button].input-small,
input[type=submit].input-small,
input[type=reset].input-small,
button.input-small,
.btn.btn-small {
    padding: .5em .75em;
    font-size: .875em;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=url],
select,
textarea {
    max-width: 100%;
    padding: .5em .75em;
    background-color: #eee;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid #025;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(17, 119, 187, .75) inset;
}

input[type=text].input-small,
input[type=email].input-small,
input[type=password].input-small,
input[type=number].input-small,
input[type=url].input-small,
select.input-small,
textarea.input-small {
    padding: .25em .5em;
    font-size: .875em;
}

label {
    font-weight: 600;
}

label + select {
    margin-left: .5em;
}

header {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 3px;
}

.logo {
    padding: 0 .5em 0 1em;
    display: flex;
    align-items: center;
}

.logo > a {
    color: #247;
    font-family: Iceland, sans-serif;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
}

.navbar {
    color: #000;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.navbar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar > ul a {
    color: #025;
    font-weight: 600;
    text-decoration: none;
    text-shadow: none;
}

.navbar > ul > li {
    float: left;
    position: relative;
    margin: 0;
    display: block;
}

.navbar > ul > li > a {
    padding: 1em 1.333em;
    display: block;
    transition: background-color .3s ease-in-out;
}

.navbar > ul > li:hover > a {
    background-color: #f8f8f8;
}

.navbar > ul > li.open > a {
    background-color: #fff;
}

.navbar > ul li.active > a {
    color: #fff;
    background-color: #247;
    text-shadow: 1px 1px 3px #000;
}

.navbar > ul li.sub > a::after {
    content: "+";
    position: relative;
    margin-left: .5em;
    margin-right: -.25em;
    font-weight: 400;
    display: inline-block;
    transform: scale(1.5);
    transition: transform .3s ease-in-out;
}

.navbar > ul ul li.sub > a::after {
    float: right;
    margin-right: 0;
}

.navbar > ul li.sub.open > a::after {
    transform: rotate(45deg) scale(1.5);
}

.navbar > ul li.open > ul {
    visibility: visible;
    opacity: 1;
}

.navbar > ul ul > li {
    margin: 0;
    display: block;
}

.navbar > ul ul a {
    transition: background-color .3s ease-in-out;
}

.navbar > ul ul > li > a {
    padding: 1em 1.5em;
    background-color: #fff;
    display: block;
}

.navbar > ul ul > li:not(.active):hover > a {
    background-color: #eee;
}

.navbar-user {
    display: inline-block;
    vertical-align: top;
}

.navbar-user > span {
    max-width: 175px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

main {
    min-height: 40em;
    padding: 1.5em;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 3px;
}

article {
    overflow: hidden;
}

article > *:last-child {
    margin-bottom: 0;
}

footer {
    padding: 1em 1.5em;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 3px;
    text-align: center;
}

footer > p {
    margin-bottom: .5em;
}

footer > p:last-child {
    margin-bottom: 0;
}

.spacer {
    margin: 0;
    height: 1em;
}

.columns {
    margin: -.75em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.columns > * {
    margin: .75em;
    overflow: hidden;
    flex: 0 1 auto;
}

article > .columns:last-child {
    margin-bottom: -.75em;
}

.columns > * > *:last-child {
    margin-bottom: 0;
}

.column-1 {
    max-width: 100%;
    flex-basis: 100%;
}

.column-2 {
    max-width: calc(50% - 1.5em);
    flex-basis: calc(50% - 1.5em);
}

.column-3 {
    max-width: calc(33.333% - 1.5em);
    flex-basis: calc(33.333% - 1.5em);
}

.column-4 {
    max-width: calc(25% - 1.5em);
    flex-basis: calc(25% - 1.5em);
}

.column-5 {
    max-width: calc(20% - 1.5em);
    flex-basis: calc(20% - 1.5em);
}

.column-2-3 {
    max-width: calc(66.667% - 1.5em);
    flex-basis: calc(66.667% - 1.5em);
}

.column-3-4 {
    max-width: calc(75% - 1.5em);
    flex-basis: calc(75% - 1.5em);
}

.column-2-5 {
    max-width: calc(40% - 1.5em);
    flex-basis: calc(40% - 1.5em);
}

.column-3-5 {
    max-width: calc(60% - 1.5em);
    flex-basis: calc(60% - 1.5em);
}

.column-4-5 {
    max-width: calc(80% - 1.5em);
    flex-basis: calc(80% - 1.5em);
}

.center {
    text-align: center;
}

.msg {
    margin: 0 0 1.5em;
}

.msg > div {
    padding: .75em 1em;
    color: #34803f;
    background-color: #ecf4ed;
    border: 1px solid #34803f;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0 0 5px #34803f inset;
}

.msg.err > div {
    color: #9c2c30;
    background-color: #f6ecec;
    border-color: #9c2c30;
    box-shadow: 0 0 5px #9c2c30 inset;
}

.msg.warning > div {
    color: #998b17;
    background-color: #fbf9e5;
    border-color: #998b17;
    box-shadow: 0 0 5px #998b17 inset;
}

.msg ul,
.msg ol {
    margin-bottom: .75em;
}

.msg li {
    color: inherit;
}

.form-control {
    margin-bottom: 1em;
    display: flex;
}

.form-control:last-child {
    margin-bottom: 0;
}

.form-label,
.form-static {
    padding-top: .5em;
    padding-right: 1em;
}

.form-label {
    font-weight: 600;
    text-align: right;
    flex: 0 0 175px;
}

.form-small .form-label {
    flex-basis: 125px;
}

.form-input {
    overflow: hidden;
    flex: 0 1 auto;
}

.form-input input[type=text],
.form-input input[type=email],
.form-input input[type=password],
.form-input input[type=number],
.form-input input[type=url],
.form-input select {
    width: 350px;
    display: block;
}

.form-input textarea {
    width: 500px;
}

.form-input input[type=checkbox],
.form-input input[type=radio] {
    margin-top: .75em;
    padding: 0;
    vertical-align: baseline;
}

.form-input label {
    margin-right: 1em;
    padding-top: .5em;
    font-weight: 400;
    display: inline-block;
}

.form-control:last-child .form-input input[type=submit],
.form-control:last-child .form-input input[type=button],
.form-control:last-child .form-input input[type=reset],
.form-control:last-child .form-input button,
.form-control:last-child .form-input a.btn {
    margin-top: .5em;
}

.form-input .has-error {
    color: #601;
    border-color: #9c2c30;
}

.form-input .has-error:focus {
    box-shadow: 0 0 5px rgba(156, 44, 48, .5) inset;
}

.form-error {
    margin-top: .25em;
    margin-left: .25em;
    color: #9c2c30;
    font-style: italic;
}

.nowrap {
    white-space: nowrap;
}


.xscroll {
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 1024px;
    margin-bottom: 1em;
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 3px;
    border-spacing: 0;
}

.xscroll > .table {
    margin-bottom: 0;
}

.table th,
.table td {
    padding: .5em .75em;
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-top: none;
    border-left: none;
    font-size: .9em;
    vertical-align: top;
}

.table th {
    color: #fff;
    background-color: #000;
    font-weight: 600;
    text-align: left;
}

.table th:first-child {
    border-radius: 3px 0 0 0;
}

.table th:last-child {
    border-radius: 0 3px 0 0;
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table tr {
    background-color: #fff;
}

.table tr.deleted,
.post-list > li.deleted {
    background-color: #f6ecec;
}

.table tr:last-child td {
    border-bottom: none;
}

.table tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

.table tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}


.post-list,
.answers > ul,
.comments > ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.post-list > li {
    padding: .5em .75em;
    background-color: #fff;
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.post-list > li:last-child,
.answers > ul > li:last-child,
.comments > ul > li:last-child {
    margin-bottom: 0;    
}

.post-list > li > * {
    flex: 0 1 auto;
}

.post-list .post-type {
    margin-right: .5em;
    white-space: nowrap;
    cursor: default;
}

.questions .post-list .post-type {
    margin-right: .75em;
}

.questions .post-list > li.answered {
    border-color: #34803f;
}

.answered .post-type {
    color: #34803f;
}

.answered .icon-accepted {
    margin-left: .25em;
    color: #34803f;
}

.post-list .post-author {
    font-weight: 600;
}

.post-list .post-author > a:first-child {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

.post-list .post-author img {
    margin-left: .25em;
}

.post-list .post-time {
    white-space: nowrap;
    opacity: .75;
}

.answers > ul > li {
    margin-bottom: 1em;
}

.post-type > span::before {
    margin-left: 0;
}

.post-rank {
    padding: 0 .333em;
    color: #555;
    background-color: #ddd;
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 3px;
    display: inline-block;
    cursor: default;
}

.comment .post-rank {
    background-color: #fff;
}

.post-list .post-title {
    padding-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

.post-list .post-title > a {
    margin-right: .5em;
}

.post-list .nowrap {
    display: inline-block;
}

.post-list .post-meta {
    white-space: nowrap;
    flex-shrink: 0;
}

.post-list .post-time {
    margin-left: .5em;
}

.post-body {
    padding: 1em;
    background-color: #fff;
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-top: none;
    border-radius: 3px;
    overflow: hidden;
}

.post-header + .post-body {
    border-radius: 0 0 3px 3px;
}

.post-body h1,
.post-body h2,
.post-body h3 {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.2;
    text-shadow: none;
}

.post-body h1 {
    margin-top: 0;
}

.post-body h1::after,
.post-body h2::after {
    display: none;
}

.post-header {
    padding: .5em;
    background-color: #000;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
}

.post-footer {
    clear: left;
    display: flex;
    align-items: center;
}

.post-header .post-rank,
.post-footer .post-rank {
    margin-right: .5em;
}

.question-header .post-rank {
    color: #000;
    background-color: #fff;
}

.post-vote > a {
    width: 1em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.post-vote-active {
    color: #888;
    color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.post-vote-active + a {
    width: auto;
    text-decoration: underline;
}

.post-text {
    margin-bottom: 1.5em;
}

.post-body .post-meta {
    float: right;
    margin-left: 1rem;
    padding: .75em;
    background-color: #fff;
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 3px;
    font-size: .875em;
}

.post-body .post-author {
    padding-bottom: .75em;
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .15);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}

.post-body .post-author * {
    display: inline-block;
    vertical-align: middle;
}

.post-body .post-author img {
    margin-right: .25em;
}

.post-body .post-author > a:last-child {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-body .post-time {
    margin-top: .5em;
    font-size: .875em;
}

.post-published {
    font-weight: 600;
    opacity: .75;
}

.post-updated {
    opacity: .667;
}

.post-tags {
    clear: left;
    margin-bottom: 1em;
    overflow: hidden;
}

.post-tags ul {
    margin: .1em -.1em .25em;
    padding-left: 0;
    list-style-type: none;
}

.form-input.tags {
    margin: -.25em -.1em;
    padding-top: .5em;
}

.post-tags li,
.form-input.tags label {
    margin: .25em .1em;
    display: inline-block;
}

.post-tags a,
.form-input.tags label {
    padding: .333em .667em;
    color: #000;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    font-size: .75em;
    text-decoration: none;
    cursor: pointer;
}

.form-input.tags input:checked + label {
    color: #fff;
    background-color: #247;
}

.form-input.tags input {
    display: none;
}

.post-actions {
    clear: left;
}

.post-actions .btn {
    margin-bottom: 0;
}

.question-header .post-vote-active,
.accepted .post-vote-active {
    color: #ccc;
    color: rgba(255, 255, 255, .75);
}

.answers > form {
    margin-bottom: 1em;
}

.answer-header {
    background-color: #888;
}

.answer-header .post-rank {
    color: #333;
    background-color: #f8f8f8;
}

.answer-header .post-vote > a,
.post-footer .post-vote > a {
    color: inherit;
}

.answer {
    background-color: #f8f8f8;
}

.accepted .answer-header {
    color: #fff;
    background-color: #34803f;
    border-color: #34803f;
}

.accepted .answer-header .post-rank {
    color: #34803f;
}

.accepted .answer {
    border-color: #34803f;
}

.answer-accept {
    margin-left: auto;
}

.answer-accept a {
    color: inherit;
    text-decoration: none;
}

.comments {
    clear: both;
    padding-top: 1.5em;
    
}

.comments > ul {
    border: 1px dotted;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 3px;
}

.question .comments > ul{
    background-color: #eee;
}

.answer .comments > ul{
    background-color: #e8e8e8;
}

.comments li {
    margin-bottom: 0;
}

.comment {
    padding: .75em;
    border-bottom: 1px dotted;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .15);
    overflow: hidden;
}

li:last-child > .comment,
.post-body > .comment {
    border-bottom: none;
}

.comment .post-meta {
    font-size: .75em;
}

.comment .post-actions {
    margin-left: .5em;
}

.user-list > li > * {
    white-space: nowrap;
}

.user-list .post-title > a {
    margin-right: .25em;
}

.tags .post-list > li {
    display: block;
}

.tag-list .post-type {
    margin-right: .25em;
}

.tag-desc {
    margin-top: .5em;
}


.user-summary {
    max-width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 3px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.url {
    overflow: hidden;
    text-overflow: ellipsis;
}

.attention {
    -webkit-animation: attention .6s ease-in-out;
    animation: attention .6s ease-in-out;
}

@-webkit-keyframes attention {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: .7; transform: scale(.8); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes attention {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: .7; transform: scale(.8); }
    100% { opacity: 1; transform: scale(1); }
}


@media only screen and (min-width: 768px) {
    
    .navbar > button {
        display: none;
    }
    
    .navbar > ul ul {
        position: absolute;
        list-style-type: none;
        width: 175px;
        min-width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0 0 3px 3px;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        z-index: 10;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
    
    .navbar > ul > li:last-child > ul {
        right: 0;
    }
    
    .navbar > ul > li > a {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }
    
    .navbar > ul ul ul {
        margin-top: -2em;
        transform: translateX(95%);
    }
    
    .navbar > ul ul li.sub > a::after {
        content: ">";
    }
    
    .navbar > ul > li:last-child > a {
        border-radius: 0 3px 3px 0;
    }
    
    .navbar > ul > li.open:last-child > a {
        border-radius: 0 3px 0 0;
    }
    
    .navbar > ul > li:last-child ul ul {
        transform: translateX(-95%);
    }
    
    .navbar > ul > li:last-child ul li.sub > a::after {
        content: "<";
    }
    
    .navbar > ul ul li.sub.open > a::after {
        transform: rotateY(180deg);
    }
    
}


@media only screen and (max-width: 1023px) {
    
    h1 {
        font-size: 3.25em;
    }
    
    h2 {
        font-size: 2.125em;
    }
    
    h3 {
        font-size: 1.625em;
    }
    
    .logo > a {
        font-size: 1.5em;
        text-shadow: 1px 1px 1px #000;
    }
    
    .navbar > ul > li {
        font-size: .8em;
    }
    
    .navbar-user > span {
        max-width: 100px;
    }
    
    .post-list .post-author > a:first-child,
    .post-body .post-author > a:last-child {
       max-width: 175px;
    }
    
}


@media only screen and (max-width: 767px) {
    
    .wrap {
        margin: .5em 0;
        padding: 0 .5em;
    }
    
    h1 {
        font-size: 2.75em;
    }
    
    h2 {
        font-size: 1.875em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
    }
    
    h3 {
        font-size: 1.5em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
    }
    
    h4 {
        font-size: 1.25em;
    }
    
    h5 {
        font-size: 1.125em;
    }
    
    h6 {
        font-size: 1em;
    }
    
    input[type=button],
    input[type=submit],
    input[type=reset],
    button,
    a.btn {
        padding: .5em .75em;
    }
    
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=number],
    input[type=url],
    select,
    textarea {
        padding: .333em .667em;
    }
    
    .form-label,
    .form-static,
    .form-input.tags {
        padding-top: .333em;
    }

    .navbar > button {
        height: 2.5em;
        margin: 0 0 0 auto;
        padding: 0 1em;
        color: #025;
        background-color: transparent;
        font-weight: 600;
        line-height: 2.5em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
        border: none;
        cursor: pointer;
        transition: background-color .3s ease-in-out, border-radius .3s ease-in-out;
    }
    
    .navbar > button:hover {
        background-color: #f8f8f8;
    }
    
    .navbar > button.open {
        background-color: #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    header {
        transition: background-color .3s ease-in-out, border-radius .3s ease-in-out;
    }
    
    .menu-open header {
        background-color: #fff;
        border-bottom-right-radius: 0;
    }
    
    .navbar > ul {
        position: absolute;
        top: 3em;
        right: .5em;
        width: 40%;
        background-color: #fff;
        border-radius: 0 0 3px 3px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
    
    .navbar > button.open + ul {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
    
    .navbar > ul > li {
        float: none;
        font-size: .9em;
    }
    
    .navbar > ul > li > a {
        padding: .75em 1em;
        background-color: #fff;
        display: block;
    }
    
    .navbar > ul > li:last-child > a {
        border-radius: 0 0 3px 3px;
    }
    
    .navbar > ul li:not(.active):hover > a,
    .navbar > ul li:not(.active).open > a {
        background-color: #eee;
    }
    
    .navbar > ul ul {
        margin: 0;
        padding: .5em;
        font-size: .875em;
        background-color: #fff;
        display: none;
    }
    
    .navbar > ul ul li > a {
        border-radius: 3px;
    }
    
    .navbar > ul li.open > ul {
        display: block;
    }
    
    .navbar > ul li.sub > a::after {
        float: right;
        margin: 0;
    }
    
    .navbar > ul ul li.sub > a::after {
        float: none;
        top: 0;
    }
    
    main {
        padding: 1em;
        min-height: 30em;
    }
    
    .columns {
        margin: -.5em;
    }
    
    article > .columns:last-child {
        margin-bottom: -.5em;
    }
    
    .columns > * {
        margin: .5em;
    }
    
    .column-2,
    .column-3,
    .column-4,
    .column-2-3,
    .column-3-4,
    .column-2-5,
    .column-3-5 {
        max-width: calc(50% - 1em);
        flex-basis: calc(50% - 1em);
    }
    
    .column-5 {
        max-width: calc(33.333% - 1em);
        flex-basis: calc(33.333% - 1em);
    }
    
    .column-4-5 {
        max-width: 100%;
        flex-basis: 100%;
    }
    
    .post-list.post-wrap > li {
        flex-wrap: wrap;
    }
    
    .post-list.post-wrap > li > * {
        margin-right: 0;
        flex-basis: 100%;
    }
    
    .post-list .post-title {
        padding-right: 0;
    }
    
    .post-list .post-meta,
    .post-list > li > .post-time {
        margin-top: 1em;
        text-align: right;
        white-space: normal;
    }
    
    .post-list > li > .post-time {
        margin-left: 0;
        flex-basis: 100%;
    }
    
    .post-body,
    .comment {
        display: flex;
        flex-wrap: wrap;
    }
    
    .post-body > div,
    .comment > div {
        overflow: hidden;
        flex-basis: 100%;
    }
    
    .post-body .post-text {
        margin-bottom: .5em;
        order: -2;
    }
    
    .post-body .post-meta {
        float: none;
        margin-left: 0;
        margin-bottom: 1.5em;
        flex-basis: auto;
    }
    
    .post-body.question > .post-meta {
        margin-left: auto;
    }
    
    .post-body .post-tags {
        margin-right: 1em;
        flex-basis: auto;
        order: -1;
    }
    
}


@media only screen and (max-width: 639px) {
    
    html {
        font-size: 16px;
    }
    
    h1 {
        font-size: 2.625em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
    }
    
    h2 {
        font-size: 1.75em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
    }
    
    h3 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
    }
    
    .navbar > ul {
        width: 50%;
    }
    
    dl:not(.dl-small) dt {
        text-align: left;
        flex-basis: 100%;
    }
    
    dl:not(.dl-small) dd {
        margin-bottom: 1em;
        flex-basis: 100%;
    }
    
    main {
        padding: .75em;
    }
    
    .form-control {
        margin-bottom: 1em;
        flex-wrap: wrap;
    }
    
    .form-label,
    .form-input {
        flex-basis: 100%;
    }
    
    .form-label {
        padding: 0;
        text-align: left;
    }
    
    .form-input input[type=checkbox],
    .form-input input[type=radio] {
        margin-top: .5em;
    }
    
    .form-static {
        padding-top: 0;
    }
    
    .columns {
        margin: -.375em;
    }
    
    article > .columns:last-child {
        margin-bottom: -.375em;
    }
    
    .columns > * {
        margin: .375em;
    }
    
    .column-2,
    .column-3,
    .column-4,
    .column-2-3,
    .column-3-4,
    .column-2-5,
    .column-3-5 {
        max-width: 100%;
        flex-basis: 100%;
    }
    
    .column-5 {
        max-width: calc(50% - .75em);
        flex-basis: calc(50% - .75em);
    }
    
    .post-body {
        padding: .75em;
    }
    
    .comment {
        padding: .5em .5em .75em;
    }
    
}


@media only screen and (max-width: 479px) {
    
    h1 {
        font-size: 2.375em;
    }
    
    h2 {
        font-size: 1.667em;
    }
    
    h3 {
        font-size: 1.375em;
    }
    
    h4 {
        font-size: 1.25em;
    }
    
    .menu-open header {
        border-bottom-left-radius: 0;
    }
    
    .navbar > ul {
        width: auto;
        left: .5em;
        border-top-left-radius: 0;
    }
    
    .navbar > ul > li:first-child > a {
        border-top-left-radius: 0;
    }
    
    .navbar > ul > li {
        text-align: center;
    }
    
    dl.dl-small dt {
        text-align: left;
        flex-basis: 100%;
    }
    
    dl.dl-small dd {
        margin-bottom: 1em;
        flex-basis: 100%;
    }
    
    .columns > * {
        max-width: 100%;
        flex-basis: 100%;
    }
    
    .post-list .post-meta {
        max-width: 100%;
    }
    
    .post-list .post-author {
        display: block;
    }
    
    .post-list .post-author > a:first-child {
        max-width: calc(100% - 2em);
    }
    
    .post-body .post-author > a:last-child {
       max-width: calc(100% - 50px);
    }
    
    .post-body .post-meta {
        flex-basis: 100%;
    }
    
    .post-body .post-tags {
        margin-right: 0;
        flex-basis: 100%;
    }
    
}